In [ ]:
import pyodbc
import pandas as pd

In [ ]:
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'localhost' 
database = 'AdventureWorksDW2020' 
username = 'sa' 
password = '@Password95@'

In [ ]:
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

In [ ]:
cursor = cnxn.cursor()
# select 26 rows from SQL table to insert in dataframe.
query = "SELECT [CountryRegionCode], [Name] FROM Person.CountryRegion;"

In [ ]:
df = pd.read_sql(query, cnxn)
print(df.head(26))